html {
    box-sizing: border-box;
}
*,
:before,
:after {
    box-sizing: inherit;
}
html,
body {
    height: 100%;
    overflow-x: hidden;
    color: #777;
    line-height: 1.8;
    font-family: Verdana, sans-serif;
    font-size: 15px;
    text-align: justify;
    margin: 0;
}
.bgimg-1 {
    background-image: url(images/bgimg-1.jpg);
    min-height: 100%;
}
.bgimg-2 {
    background-image: url(images/bgimg-2.jpg);
    min-height: 400px;
}
.bgimg-3 {
    background-image: url(images/bgimg-3.jpg);
    min-height: 400px;
}
.bgimg-1,
.bgimg-2,
.bgimg-3 {
    opacity: 0.7;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.display-middle {
    white-space: nowrap;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.black,
.hover-black:hover {
    color: #fff!important;
    background-color: #000!important;
    border-radius: 50px;
    opacity: 0.85;
}
.wide {
    sffont-family: Verdana, sans-serif;
    letter-spacing: 8px;
}
.animate-opacity {
    animation: opac 1.5s;
    animation-name: opac;
    animation-duration: 1.5s;
    animation-timing-function: initial;
    animation-delay: initial;
    animation-iteration-count: initial;
    animation-direction: initial;
    animation-fill-mode: initial;
    animation-play-state: initial;
}
.padding-xlarge {
    padding: 16px 32px!important;
}
.center {
    text-align: center!important;
}
.quote {
    text-align: center!important;
    font-style: italic;
}
.xlarge {
    font-size: 22px!important;
}
div {
    display: block;
}
.tooltip,
.display-container {
    position: relative;
}
.container {
    padding: .01em 16px;
}
.padding-64 {
    padding-top: 64px!important;
    padding-bottom: 64px!important;
}
.content {
    max-width: 980px;
    margin: auto;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 400;
    margin: 10px 0;
}
h3 {
    font-size: 24px;
}
.circle {
    border-radius: 50%!important;
}
img {
    margin-bottom: -5px;
    border-style: none;
}
.section {
    margin-top: 16px!important;
    margin-bottom: 16px!important;
}
.col,
.half,
.third,
.twothird,
.threequarter,
.quarter {
    float: left;
    width: 100%;
}
.container:after,
.panel:after,
.row:after,
.row-padding:after,
.topnav:after,
.clear:after,
.btn-group:before,
.btn- group:after,
.btn-bar:before,
.btn-bar:after {
    content: "";
    display: table;
    clear: both;
}
@media only screen and (max-width 425px) {
    .bgimg-1 {
        background-image: url(img/bgimg-1.jpg);
    }
}
@media only screen and (max-width 1024px) {
    .bgimg-1,
    .bgimg-2,
    .bgimg-3 {
        background-attachment: scroll;
    }
}
@media max-width 600px {
    .hide-small {
        display: none!important;
    }
}
.wide {
    letter-spacing: 8px;
}
.text-light-grey,
.hover-text-light-grey:hover {
    color: #fff!important;
}
.xxlarge {
    font-size: 32px!important;
}
.row-padding,
.row-padding>.half,
.row-padding>.third,
.row-padding>.twothird,
.row-padding>.threequarter,
.row-padding>.quarter,
.row-padding>.col {
    padding: 0 8px;
}
@media only screen and (min-width: 601px) {
    .col.m3,
    .quarter {
        width: 24.99999%;
    }
}
/* ---------- Zoom container ---------- */

.image-zoom-container {
    list-style: none;
    font-size: 0px;
}
.zoom-container {
    position: relative;
    overflow: hidden;
    display: inline-block;
    width: 33.33%;
    /* this value + 2 should = 33% */
    
    font-size: 16px;
    font-size: 1rem;
    border: 1px solid #fff;
    vertical-align: top;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
.zoom-container img {
    display: block;
    width: 100%;
    height: auto;
    -webkit-transition: all .5s ease;
    /* Safari and Chrome */
    
    -moz-transition: all .5s ease;
    /* Firefox */
    
    -ms-transition: all .5s ease;
    /* IE 9 */
    
    -o-transition: all .5s ease;
    /* Opera */
    
    transition: all .5s ease;
}
.zoom-container .zoom-caption {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 10;
    background: rgba(0, 0, 0, .5);
    -webkit-transition: all .5s ease;
    /* Safari and Chrome */
    
    -moz-transition: all .5s ease;
    /* Firefox */
    
    -ms-transition: all .5s ease;
    /* IE 9 */
    
    -o-transition: all .5s ease;
    /* Opera */
    
    transition: all .5s ease;
}
.zoom-container .zoom-caption h3 {
    display: block;
    text-align: center;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 1.5em;
    font-weight: 900;
    letter-spacing: -1px;
    text-transform: uppercase;
    color: #fff;
    margin: 19% 0 0;
    padding: 10px 0;
    border-top: 5px solid rgba(255, 255, 255, .15);
    border-bottom: 5px solid rgba(255, 255, 255, .15);
}
.zoom-container:hover img {
    -webkit-transform: scale(1.25);
    /* Safari and Chrome */
    
    -moz-transform: scale(1.25);
    /* Firefox */
    
    -ms-transform: scale(1.25);
    /* IE 9 */
    
    -o-transform: scale(1.25);
    /* Opera */
    
    transform: scale(1.25);
}
.zoom-container:hover .zoom-caption {
    background: none;
}
@media (max-width: 1199px) {
    .container {
        width: auto;
        padding: 0 10px;
    }
}
@media (max-width: 767px) {
    .zoom-container {
        width: 50%;
    }
}
@media (max-width: 480px) {
    .zoom-container {
        width: 100%;
    }
}